<%- model_class = SetList -%>

<div class="page-header">
  <div class="row">
    <div class="col-md-9">
      <h1>
        <%=t '.title', :default => model_class.model_name.human.pluralize.titleize %>
      </h1>
    </div>
    <div class="col-md-3 pull-right">
      <%= link_to t('.new', :default => t("Create a new Setlist")),
                  new_set_list_path,
                  :class => 'btn btn-success' %>
    </div>
  </div>
</div>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Title</th>
      <th>Notes</th>
      <th>Tags</th>
      <th>Songs</th>
      <th>Created</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @set_lists.each do |set_list| %>
      <tr>
        <td><%= link_to set_list.title, set_list_path(set_list) %></td>
        <td><%= set_list.notes %></td>
        <td><%= set_list.tags %></td>
        <td><%= set_list.songs.count %></td>
        <td><%=l set_list.created_at %></td>
        <td>
          <%= link_to t('.show', :default => t("helpers.links.show")),
                      set_list_path(set_list), :class => 'btn btn-default btn-xs' %>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_set_list_path(set_list), :class => 'btn btn-default btn-xs' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      set_list_path(set_list),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-xs btn-danger' %>
          Copy
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
