<p id="notice"><%= notice %></p>

<h1>Set Lists</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Notes</th>
      <th>Tags</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @set_lists.each do |set_list| %>
      <tr>
        <td><%= set_list.title %></td>
        <td><%= set_list.notes %></td>
        <td><%= set_list.tags %></td>
        <td><%= link_to 'Show', set_list %></td>
        <td><%= link_to 'Edit', edit_set_list_path(set_list) %></td>
        <td><%= link_to 'Destroy', set_list, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Set List', new_set_list_path %>
