<%- model_class = SetList -%>
<!-- title -->
<div class="page-header">
  <h1><%=t '.title', :default => @set_list.title %></h1>
</div>

<!-- set list information -->
<dl class="dl-horizontal">
  <dt><strong>Notes:</strong></dt><dd><%= @set_list.notes %></dd>
  <dt><strong>Tags:</strong></dt><dd><%= @set_list.tags %></dd>
  <dt><strong>Created:</strong></dt><dd><%= time_ago_in_words(@set_list.created_at) + " ago" %></dd>
  <dt><strong>Updated:</strong></dt><dd><%= time_ago_in_words(@set_list.updated_at) + " ago" %></dd>
</dl>

<!-- set list songs -->
<%= render partial: 'songs/song_list' %>

<!-- set list actions -->
<%= link_to 'Add a Song', '#', :class => 'btn btn-default' %>
<%= link_to t('.back', :default => t("helpers.links.back")),
              set_lists_path, :class => 'btn btn-default'  %>
<%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_set_list_path(@set_list), :class => 'btn btn-default' %>
<%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              set_list_path(@set_list),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
<%= link_to 'Copy to New Set List', '#', :class => 'btn btn-default' %>
