<%= form_for @song, :html => { :class => "form-horizontal song" } do |f| %>

  <% if @song.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@song.errors.count, "error") %> prohibited this song from being saved:</h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @song.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label 'Title', :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :title, :class => 'form-control' %>
    </div>
    <%=f.error_span(:title) %>
  </div>
  <div class="form-group">
    <%= f.label :key, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :key, :class => 'form-control' %>
    </div>
    <%=f.error_span(:key) %>
  </div>
  <div class="form-group">
    <%= f.label :singer, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :singer, :class => 'form-control' %>
    </div>
    <%=f.error_span(:singer) %>
  </div>
  <div class="form-group">
    <%= f.label :bpm, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :bpm, :class => 'form-control' %>
    </div>
    <%=f.error_span(:bpm) %>
  </div>
  <div class="form-group">
    <%= f.label :video_url, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :video_url, :class => 'form-control' %>
    </div>
    <%=f.error_span(:video_url) %>
  </div>
  <div class="form-group">
    <%= f.label :chart_url, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :chart_url, :class => 'form-control' %>
    </div>
    <%=f.error_span(:chart_url) %>
  </div>
  <div class="form-group">
    <%= f.label :performance_notes, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :performance_notes, :class => 'form-control' %>
    </div>
    <%=f.error_span(:performance_notes) %>
  </div>
  <div class="form-group">
    <%= f.label :duration, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :duration, :class => 'form-control' %>
    </div>
    <%=f.error_span(:duration) %>
  </div>
  <div class="form-group">
    <%= f.label :genre, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :genre, :class => 'form-control' %>
    </div>
    <%=f.error_span(:genre) %>
  </div>
  <div class="form-group">
    <%= f.label :tags, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :tags, :class => 'form-control' %>
    </div>
    <%=f.error_span(:tags) %>
  </div>

  <div class="form-group">
    <%= f.label 'Set Lists', :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.collection_select(:set_list_ids, SetList.all, :id, :title, {prompt: true},
       {class: 'form-control'} ) %>
    </div>
    <%=f.error_span(:set_list_id) %>
  </div>

  <div class="form-group">
    <div class="col-lg-offset-2 col-lg-10">
      <%= f.submit nil, :class => 'btn btn-primary' %>
      <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                songs_path, :class => 'btn btn-default' %>
    </div>
  </div>

<% end %>
