<div class="page-header">
  <h1><%=t '.title', :default => @song.title %></h1>
</div>

<dl class="dl-horizontal">

  <dt><strong>Title:</strong></dt>
  <dd><%= @song.title %></dd>

  <dt><strong>Key:</strong></dt>
  <dd><%= @song.key %></dd>

  <dt><strong>Singer:</strong></dt>
  <dd><%= @song.singer %></dd>

  <dt><strong>BPM:</strong></dt>
  <dd><%= @song.bpm %></dd>

  <dt><strong>Video URL:</strong></dt>
  <dd><%= link_to truncate(@song.video_url, length:40), @song.video_url %></dd>

  <dt><strong>Chart URL:</strong></dt>
  <dd><%= link_to truncate(@song.chart_url, length:40), @song.chart_url %></dd>

  <dt><strong>Performance Notes:</strong></dt>
  <dd><%= @song.performance_notes %></dd>

  <dt><strong>Duration:</strong></dt>
  <dd><%= @song.duration %></dd>

  <dt><strong>Genre:</strong></dt>
  <dd><%= @song.genre %></dd>

  <dt><strong>Tags:</strong></dt>
  <dd><%= @song.tags %></dd>

  <dt><strong>Created:</strong></dt>
  <dd><%= @song.created_at %></dd>

  <dt><strong>Updated:</strong></dt>
  <dd><%= @song.updated_at %></dd>

  <dt><strong>Set Lists:</strong></dt>
  <% @song.set_lists.map do |sl| %>
    <dd>
    <%= link_to sl.title, set_lists_url(sl.id), :class => "badge badge-light" %>
    </dd>
  <% end %>
</dl>

<%= link_to t('.back', :default => t("helpers.links.back")),
              songs_path, :class => 'btn btn-default'  %>
<%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_song_path(@song), :class => 'btn btn-default' %>
<%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              song_path(@song),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
