<!DOCTYPE html>
<html>
  <head>
    <title>Bands On Rails</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'application', "https://fonts.googleapis.com/icon?family=Material+Icons" %>
    <%= stylesheet_link_tag 'application', 'https://fonts.googleapis.com/css?family=Indie+Flower|Noto+Sans|Righteous&display=swap' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render partial: 'shared/navigation' %>
    <div class="container-fluid">
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
      <%= yield %>
    </div>
  </body>

</html>
